################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/legacy_api/.vs
/legacy_api/bin/Debug/net8.0
